.login {
  max-width: 24rem;
  width: 100%;
  min-width: 16rem;
  padding: .5rem 1.5rem;
  margin: 3rem auto;
  border-radius: .6rem;
  box-shadow: inset 0 0 2px 2px #bbb;
}

.login h3 {
  color: var(--sec-200);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  margin-block: .4rem 1rem;
}


/* label */

.login-form label { margin-top: .7rem; }

.login-form label svg { 
  display: inline-block; 
  color: var(--sec-200);
}
.login-form :is(label > *, label span > *) { vertical-align: middle; }

.login-form label span.eye { 
  width: 4.5rem;
  padding-inline: .4rem;
}
.login-form label span.eye:last-child { font-size: .8rem; }
.login-form label span.eye svg { color: var(--gray-600); }


/* input */

.login-form input {
  padding: .4rem 1rem;
  color: var(--pri-400);
  border-radius: 1rem;
  font-weight: 400;
}


/* validation notes */

.login-form > div { 
  background: var(--sec-light-1);
  display: grid;
  align-items: start; 
  gap: .25rem;
  grid-template-columns: auto 1fr;
  padding: .3rem;
  margin-block: .25rem 0.5rem;
  border-radius: .1rem;
  opacity: .3;
  transition: all .3s ease-out;
}
.login-form > div.note { opacity: 1; }
.login-form > div.offScreen {
  position: absolute;
  left: -10000px; 
}

.login-form > div.note svg {
  background: var(--sec-600);
  fill: var(--sec-light-1);
  border-radius: 50%;
  margin-top: .1rem;
}
.login-form > div.note p { 
  color: var(--wheat-600); 
  font-weight: 500;
  font-size: .85rem;
}

.login-form > div.error {
  background: var(--crimson-200);
  color: white;
  font-size: .8rem;
  font-weight: 600;
  opacity: 1;
}


/* button and link */

.login-form button {
  margin: 1rem auto;
  padding: .4rem 1.6rem;
  border: 4px solid var(--crimson-light-1);
  border-radius: 1rem;
  box-shadow: 0 0 1px 1px #aaa;
}

.login-form a { display: inline-block; }
