.login {
  max-width: 24rem;
  padding: 1rem;
  width: 100%;
  min-width: 16rem;
  margin: 3rem auto;
  border: 1px solid var(--pri-blue-200);
  box-shadow: 0 0 3px 2px #bbb;
  border-radius: .6rem;
}

.login h3 {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  color: var(--sec-green-400);
  text-decoration: wavy underline var(--sec-green-200) 2px;
}


/* label */

.login-form label svg { 
  display: inline-block; 
  stroke: var(--sec-green-400);
  stroke-width: 1;
}
.login-form :is(label > *, label span > *) { vertical-align: middle; }
.login-form label span svg { 
  display: inline-block; 
  stroke: var(--sec-green-400);
  stroke-width: 1;
}

.login-form label span.eye { 
  width: 4.5rem;
  padding-inline: .4rem;
}
.login-form label span.eye:last-child { font-size: .8rem; color: var(--dark-800); }
.login-form label span.eye svg {
  stroke: none;
  fill: var(--dark-800);
}


/* input */

.login-form input {
  color: var(--pri-blue-400);
  border-radius: 1rem;
  font-weight: 400;
}


/* validation notes */

.login-form > div { 
  background: var(--light-greenish);
  display: grid;
  align-items: start; 
  gap: .25rem;
  grid-template-columns: auto 1fr;
  font-size: .85rem;
  padding: .3rem;
  margin-block: .25rem 0.5rem;
  border-radius: .1rem;
  opacity: .3;
  transition: all .3s ease-out;
}
.login-form > div.note { opacity: 1; }
.login-form > div.offScreen {
  position: absolute;
  left: -10000px; 
}

.login-form > div.note svg {
  background: var(--sec-green-600);
  fill: var(--light-greenish);
  border-radius: 50%;
}
.login-form > div.note p { 
  color: var(--wheat-600); 
  font-weight: 500;
}

.login-form > div.error {
  background: var(--crimson-200);
  color: white;
  font-weight: 600;
  opacity: 1;
}


/* button and link */

.login-form button {
  margin: 1rem auto;
  padding: .4rem 1.6rem;
  border: 4px solid var(--crimson-light-1);
  border-radius: 1rem;
  box-shadow: 0 0 1px 1px #aaa;
}

.login-form a { display: inline-block; }
