/**
* reset 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* -------------------------------- */

/**
* root
*/

:root {
  color-scheme: light dark;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* colors */

  /* todo: use nice shades of every color of these */
  /* .first-color { background: #feffdf; } */
  /* .second-color { background: #dde0ab; } */
  /* .third-color { background: #97cba9; } */
  /* .fourth-color { background: #668ba4; } */

  /* black and white shades */
  --light-1: rgb(245, 245, 245);
  --light-2: rgb(238, 238, 238);
  --light-3: rgb(221, 221, 221);
  --gray-200: rgb(170, 170, 170);
  --gray-400: rgb(158, 158, 158);
  --gray-600: rgb(102, 102, 102);
  --gray-800: rgb(68, 68, 68);
  --dark-1: rgb(46, 46, 46);
  --dark-2: rgb(36, 36, 36);
  --dark-3: rgb(26, 26, 26);

  /* primary color */
  --pri-light-1: rgb(240, 241, 243);
  --pri-100: rgb(188, 196, 206);
  --pri-200: rgb(137, 147, 158);
  --pri-400: rgb(57, 85, 116); 
  --pri-600: rgb(38, 52, 66);
  --pri-800: rgb(30, 43, 56);
  
  /* secondary color */
  --sec-light-1: rgb(234, 238, 236);
  --sec-100: rgb(147, 214, 193);
  --sec-200: rgb(87, 143, 125);
  --sec-400: rgb(4, 112, 78);
  --sec-600: rgb(0, 86, 59);
  --sec-800: rgb(1, 63, 43);

  /* third colors */
  --wheat-light: rgb(245, 239, 229);
  --wheat-200: rgb(245, 222, 179);
  --wheat-400: rgb(202, 180, 140);
  --wheat-600: rgb(145, 122, 79);
  --wheat-800: rgb(83, 67, 38);
  --wheat-dark: rgb(44, 35, 17);

  --crimson-light-1: rgb(235, 217, 220);
  --crimson-light-2: rgb(235, 182, 192);
  --crimson-light-3: rgb(240, 153, 170);
  --crimson-100: rgb(238, 59, 95);
  --crimson-200: rgb(219, 46, 81);
  --crimson-400: rgb(168, 37, 64);
  --crimson-600: rgb(128, 28, 48);
  --crimson-800: rgb(73, 17, 28);
  --crimson-dark: rgb(40, 10, 16);

  /* additional colors */
  --add-info: var(--sec-600);
  --add-warning: #fafad2;
  
  
  /* border-color */
  --border-color: var(--pri-200);


  /* fontSize */
  /* text */
  --fs-0-7: .7rem;
  --fs-0-75: .75rem;
  --fs-0-8: .8rem;
  --fs-0-85: .85rem;
  --fs-0-9: .9rem;
  --fs-0-95: .95rem;
  --fs-1: 1rem;
  --fs-1-1: 1.1rem;
  --fs-1-2: 1.2rem;
  --fs-1-3: 1.3rem;
  --fs-1-4: 1.4rem;
  --fs-1-5: 1.5rem;
  --fs-1-65: 1.65rem;
  --fs-1-8: 1.8rem;
  --fs-2: 2rem;
}


/* -------------------------------- */

/**
* basic
*/

body {
  min-height: 100vh;
  min-width: 300px;
  border-inline: 1px solid var(--light-3);
  padding: 0;
  margin: 0;
}

/* todo: make scrollbar a bit thinner */

body::-webkit-scrollbar { width: 16px; }
body::-webkit-scrollbar-track { background-color: var(--light-1); }
body::-webkit-scrollbar-thumb {
  background-color: var(--pri-200);
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
}
body::-webkit-scrollbar-thumb:hover { background-color: var(--pri-400); }

.App { min-height: 100vh; }

main.main {
  min-height: 80vh;
  padding: 8rem 1rem 4rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

label, input, button, img { display: block; }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

svg {
  display: inline-block; 
  vertical-align: middle;
}

a {
  display: block;
  font-weight: 500;
  color: slategray;
  text-decoration: none;
}
a:hover {
  color: #8a7a5c;
  cursor: pointer;
}

.a {
  color: #02598b;
  text-decoration: underline;
  display: inline-block;
}
.a:hover { cursor: pointer; }
.a:visited { color: #003266; }

li { list-style: none; }

p { 
  font-size: .92rem;
  font-weight: 400;
}

label { 
  font-size: .9rem;
  font-weight: 500; 
  margin-block: .5rem .1rem;
}

input:where([type="search"], [type="text"], [type="password"], [type="Email"]) { 
  letter-spacing: .4px; 
  width: 100%;
  background: var(--pri-light-1);
  font-size: .95rem;
  line-height: initial;
  text-align: left;
  padding: .5rem 1rem;
  border: 1px solid gray;
  border-radius: .3rem;
  transition: all .3s;
}
input:where([type="search"], [type="text"], [type="password"], [type="Email"])
:focus-within {
  outline-color: var(--pri-100);
  background: #fff;
}
input:where([type="search"], [type="text"], [type="password"], [type="Email"])
::placeholder { font-size: var(--fs-0-95); }

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}
button:focus, button:focus-visible { outline: none; }

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  transition: border-color 0.25s;
}
.btn:hover { border-color: var(--sec-light-1); }

.btn-primary:hover { 
  color: var(--light-1);
  background: var(--sec-200); 
}
.btn-primary:focus-within { 
  color: var(--light-1);
  background: var(--sec-400);
}

select {
  padding: .4rem .6rem;
  border-radius: .3rem;
  font-weight: 800;
  color: var(--pri-600);
  width: fit-content;
}


/* -------------------------------- */

/** 
* reusable classes 
*/

/*---------
font-familly
-----------*/

.ff-times { font-family: 'Times New Roman', Times, serif; }
.ff-lucida { font-family: 'Lucida Grande', Verdana, sans-serif; }

/*-------
font-size
---------*/

.fs-0-7 { font-size: var(--fs-0-7); }
.fs-0-75 { font-size: var(--fs-0-75); }
.fs-0-8 { font-size: var(--fs-0-8); }
.fs-0-85 { font-size: var(--fs-0-85); }
.fs-0-9 { font-size: var(--fs-0-9); }
.fs-0-95 { font-size: var(--fs-0-95); }
.fs-1 { font-size: var(--fs-1); }
.fs-1-1 { font-size: 1.1rem; }
.fs-1-2 { font-size: 1.2rem; }
.fs-1-3 { font-size: 1.3rem; }
.fs-1-4 { font-size: 1.4rem; }
.fs-1-5 { font-size: 1.5rem; }
.fs-1-65 { font-size: 1.65rem; }
.fs-1-8 { font-size: 1.8rem; }
.fs-2 { font-size: 2rem; }


/*---------
font- }weight
-----------*/

.fw-3 { font-weight: 300; }
.fw-4 { font-weight: 400; }
.fw-5 { font-weight: 500; }
.fw-6 { font-weight: 600; }
.fw-7 { font-weight: 700; }
.fw-8 { font-weight: 800; }


/*-------------
position / display / appearance
---------------*/

.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.sticky { position: sticky; }

.d-none { display: none; }
.d-in { display: inline; }
.d-bl { display: block; }
.d-inbl { display: inline-block; }

.ta-c { text-align: center; }
.ta-l { text-align: left; }
.ta-r { text-align: right; }

.underline { text-decoration: underline; }
.hover-underline:hover { text-decoration: underline; }
.underline-children > * { text-decoration: underline; }
.hover-underline-children > *:hover { text-decoration: underline; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.cap { text-transform: capitalize; }


/*------
headings
--------*/

.h1 { font-size: 2.3rem; font-weight: 600; }
.h2 { font-size: 1.9rem; font-weight: 600; }
.h3 { font-size: 1.65rem; font-weight: 600; }
.h4 { font-size: 1.3rem; font-weight: 500; }
.h5 { font-size: 1rem; font-weight: 500; }
.h6 { font-size: .85rem; font-weight: 500; }


/*-----
margins
-------*/

.m-auto { margin: auto; }
.m-bl-auto { margin-block: auto; }
.m-in-auto { margin-inline: auto; }
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }

.m-0 { margin: 0; }
.m-0-5 { margin: .25rem; }
.m-0-5 { margin: .5rem; }
.m-1 { margin: 1rem; }
.m-1-5 { margin: 1.5rem; }
.m-2 { margin: 2rem; }

.m-bl-0 { margin-block: 0; }
.m-bl-0-25 { margin-block: .25rem; }
.m-bl-0-5 { margin-block: .5rem; }
.m-bl-1 { margin-block: 1rem; }
.m-bl-1-5 { margin-block: 1.5rem; }
.m-bl-2 { margin-block: 2rem; }

.m-in-0 { margin-inline: 0; }
.m-in-0-25 { margin-inline: .25rem; }
.m-in-0-5 { margin-inline: .5rem; }
.m-in-1 { margin-inline: 1rem; }
.m-in-1-5 { margin-inline: 1.5rem; }
.m-in-2 { margin-inline: 2rem; }

.mt-0 { margin-top: 0; }
.mt-0-25 { margin-top: .25rem; }
.mt-0-5 { margin-top: .5rem; }
.mt-1 { margin-top: 1rem; }
.mt-1-5 { margin-top: 1.5rem; }
.mt-2 { margin-top: 2rem; }

.mb-0 { margin-bottom: 0; }
.mb-0-25 { margin-bottom: .25rem; }
.mb-0-5 { margin-bottom: .5rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-1-5 { margin-bottom: 1.5rem; }
.mb-2 { margin-bottom: 2rem; }

.mr-0 { margin-right: 0; }
.mr-0-25 { margin-right: .25rem; }
.mr-0-5 { margin-right: .5rem; }
.mr-1 { margin-right: 1rem; }
.mr-1-5 { margin-right: 1.5rem; }
.mr-2 { margin-right: 2rem; }

.ml-0 { margin-left: 0; }
.ml-0-25 { margin-left: .25rem; }
.ml-0-5 { margin-left: .5rem; }
.ml-1 { margin-left: 1rem; }
.ml-1-5 { margin-left: 1.5rem; }
.ml-2 { margin-left: 2rem; }


/*------
paddings
--------*/

.p-0 { padding: 0; }
.p-0-25 { padding: .25rem; }
.p-0-5 { padding: .5rem; }
.p-1 { padding: 1rem; }
.p-1-5 { padding: 1.5rem; }
.p-2 { padding: 2rem; }

.p-bl-0 { padding-block: 0; }
.p-bl-0-25 { padding-block: .25rem; }
.p-bl-0-5 { padding-block: .5rem; }
.p-bl-1 { padding-block: 1rem; }
.p-bl-1-5 { padding-block: 1.5rem; }
.p-bl-2 { padding-block: 2rem; }

.p-in-0 { padding-inline: 0; }
.p-in-0-25 { padding-inline: .25rem; }
.p-in-0-5 { padding-inline: .5rem; }
.p-in-1 { padding-inline: 1rem; }
.p-in-1-5 { padding-inline: 1.5rem; }
.p-in-2 { padding-inline: 2rem; }

.pt-0 { padding-top: 0; }
.pt-0-25 { padding-top: .25rem; }
.pt-0-5 { padding-top: .5rem; }
.pt-1 { padding-top: 1rem; }
.pt-1-5 { padding-top: 1.5rem; }
.pt-2 { padding-top: 2rem; }

.pb-0 { padding-bottom: 0; }
.pb-0-25 { padding-bottom: .25rem; }
.pb-0-5 { padding-bottom: .5rem; }
.pb-1 { padding-bottom: 1rem; }
.pb-1-5 { padding-bottom: 1.5rem; }
.pb-2 { padding-bottom: 2rem; }

.pr-0 { padding-right: 0; }
.pr-0-25 { padding-right: .25rem; }
.pr-0-5 { padding-right: .5rem; }
.pr-1 { padding-right: 1rem; }
.pr-1-5 { padding-right: 1.5rem; }
.pr-2 { padding-right: 2rem; }

.pl-0 { padding-left: 0; }
.pl-0-25 { padding-left: .25rem; }
.pl-0-5 { padding-left: .5rem; }
.pl-1 { padding-left: 1rem; }
.pl-1-5 { padding-left: 1.5rem; }
.pl-2 { padding-left: 2rem; }


/*--
flex
----*/

.flex {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.flex-row {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
}

.jc-c { justify-content: center; }
.jc-sb { justify-content: space-between; }
.jc-sa { justify-content: space-around; }
.ai-c { align-items: center; }
.ai-fs { align-items: flex-start; }

.gap-0-25 { gap: .25rem; }
.gap-0-5 { gap: .5rem; }
.gap-1 { gap: 1rem; }
.gap-1-5 { gap: 1.5rem; }
.gap-2 { gap: 2rem; }

.wrap { flex-wrap: wrap; }
.no-wrap { flex-wrap: nowrap; }


/*--
misc
----*/


/* scrollbars */

.scrollbar-1 ::-webkit-scrollbar { width: .5rem; }
.scrollbar-1 ::-webkit-scrollbar-track { background: lightgoldenrodyellow; }
.scrollbar-1 ::-webkit-scrollbar-button { background: var(--sec-200); }
.scrollbar-1 ::-webkit-scrollbar-thumb { background: var(--sec-200); }


/* other classes */

.of-hidden { overflow: hidden; }
.of-auto { overflow: auto; }


/** 
* dark theme changes
*/

/* -------------------------------- */


@media (prefers-color-scheme: light) {
  :root {}
  button { background-color: #f9f9f9; }
}

/* @media (prefers-color-scheme: light) {
  :root {
    --wheat-light: var(--wheat-dark);
    --wheat-200: var(--wheat-800);
    --pri-light-1: var(--pri-800)
  }
} */


/* -------------------------------- */

/** 
* media-query
*/

@media (max-width: 575px) {

}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  main.main { padding-inline: 2rem; }
  p { font-size: .95rem; }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
