
.book-details h1.h1 { 
  color: var(--gray-800);
  text-decoration: underline double var(--gray-800) 1px;
}

.book-details > *:not(:last-child) { margin-bottom: 3rem; }

.book-details > *:not(:first-child) { 
  margin-inline: auto; 
  padding: 1rem;
}

.book-details a { display: inline; }


/* details-grid */

.details-grid { background: var(--sec-light-1); }

.details-grid img { width: 100%; } 
.details-grid .dotsLoader { border-color: #86b193; } 

.details-grid .info > * { margin-bottom: .65rem; }

.details-grid b { color: var(--wheat-400) }
.details-grid p { font-size: .85rem; color: #333; }
.book-details .subjects span { color: var(--gray-600);} 
.book-details .subjects a { 
  display: inline;
  font-size: .85rem;
  text-decoration: underline solid var(--gray-600) 1px;
}
.book-details :is(.info, .content) :not(.subjects, p) > span {
  color: var(--gray-600);
  font-weight: 700;
  text-transform: capitalize;
}


/* skeleton */
.skeleton-title { height: 45px; }
.skeleton-text { height: 24px; }


@media (max-width: 576px) {
  .details-grid { text-align: center; }
  .details-grid p { text-align: left; }

  .details-grid > *:not(:last-child) { margin-bottom: 2rem; }

  .details-grid .cover {
    margin-inline: auto;
    max-width: 320px;
    width: 90%;
  }

  .details-grid .dotsLoader { 
    aspect-ratio: 3/4;
    width: 100%;
    max-width: 320px;
    height: auto;
  }

  .details-grid .skeleton-text { margin-inline: auto; }
}

@media (min-width: 576px) {
  .book-details > *:not(:first-child) { 
    max-width: 660px; 
  }

  .details-grid {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'cover info' 'desc desc';
    gap: 2rem;
  }

  .book-details .cover { 
    grid-area: cover; 
    max-width: 100%;
  }
  .details-grid .dotsLoader { 
    aspect-ratio: 3/4;
    width: 100%; 
    height: auto;
  }

  .book-details .info { grid-area: info; }
  
  .book-details .description { grid-area: desc; }
}

@media (min-width: 767px) {
  .book-details > *:not(:first-child) { 
    max-width: 860px; 
    padding-inline: 1rem;
  }

  .details-grid { grid-template-columns: 2fr 4fr; }

  .book-details .cover { min-width: 200px; max-width: 300px; }

  .book-details .description p { 
    border-left: 2px solid var(--sec-200);
    padding-left: .6rem;
    height: fit-content;
  }
}

@media (min-width: 991px) {
  .book-details > *:not(:first-child) { 
    max-width: 1200px; 
    padding-inline: 3rem;
  }

  .book-details .cover { min-width: 200px; max-width: 100px; }

  .details-grid {
    grid-template-columns: 1fr auto;
    gap: 3rem;
  }
}


/* author section */

.author-brief { background: var(--wheat-light); }

.author-brief img {
  height: fit-content;
  min-height: 5rem;
  max-width: 5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.author-brief .content div { margin-bottom: .5rem; }

.author-brief .content .h4 {
  display: inline;
  color: var(--dark-1);
  font-weight: 500;
}


@media (max-width: 575px) {
  .author-brief > div {
    flex-direction: column;
    align-items: center;
  }
  .author-brief img { max-width: 8rem; min-height: 8rem; }
}

@media (min-width: 767px) {
  .author-brief img { max-width: 8rem; min-height: 8rem; }
}


/* comments section */



/* works carousel (general similar works) */



/* works carousel (other author works) */

.author-works { border: 1px solid lightgray; }
