# Dependencies
node_modules

# Production
build

# Misc
dist
dist-ssr
.env
.env.*
*.local

# Logs
logs
*.log
*.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
