
.preview-covers {
  display: flex;
}

.preview-covers img { 
  display: block;
  height: 47px;
  max-height: 100%;
  width: 30px;
  max-width: 100%;
  font-size: 6.9px;
  border: 1px solid var(--gray-200);
  border-radius: 4px; 
  opacity: .7; 
  cursor: pointer;
  margin: 0 .2rem 0 0;
}
.preview-covers img:hover { opacity: 1; }
