.login {
  max-width: 28rem;
  width: 28rem;
  margin-inline: auto;
  border: 2px solid var(--pri-blue-200);
  border-radius: 2rem;
  background: var(--light-bluish);
}

.login-form button {
  margin-block: 1.5rem;
  margin-inline: auto;
  display: block;
  border-color: gainsboro;
  padding-inline: 2rem;
}
