button.slider-arrow {
  all: unset;
  position: absolute;
  bottom: .6rem;  
  color: #ddddddda;
  border: 1px solid #55557095;
  outline: 1px solid #ddddddda;
  border-radius: .2rem;
  padding: .4rem;
}
button.slider-arrow:disabled { background: #bdbdbd90; opacity: .4; }
button.slider-arrow:not(:disabled):hover { background: #55557070; }

button.slider-prev-arrow { right: calc(50% + 1rem); content: '<'; }
button.slider-next-arrow { left: calc(50% + 1rem); content: '>'; }
