.author-page {
  position: relative;
  width: 100%;
  max-width: fit-content;
  margin: 0 auto;
  z-index: 1;
}

.author-page :is(h3, h6) { 
  font-family: 'Lucida Grande', Geneva, Verdana, sans-serif; 
  font-weight: 600;
  margin-block: inherit; 
}


/* content head */

.content-head h1 {
  color: var(--gray-600);
  font-weight: 500;
}


/* content body */

.author-page .content-body { 
  position: relative;
  display: block;
  min-height: fit-content;
  overflow: hidden;
}


/* twothird */

.contentTwothird .description p { text-indent: .9rem; margin-bottom: .75rem; }
.contentTwothird h2 { color: #666; }


/* onethird */

.contentOnethird img {
  height: auto;
  margin: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 #c3b683;
}

.contentOnethird section { margin-bottom: 1.2rem; }
.author-page section { margin-bottom: 1.5rem; }
.author-page section > * { margin-bottom: 1rem; }

.contentOnethird section h3 { color: #666; }
.contentOnethird section h6 { 
  text-transform: uppercase; 
  font-size: .68rem;
}

.contentOnethird section ul { margin: 0 .3rem 1.6rem; }
.contentOnethird section li {
  font-family: "Lucida Grande", Geneva, Verdana, sans-serif;
  font-size: 12px;
  list-style: disc outside none;
  color: #444;
  margin: 0 0 10px 20px;
}


@media (min-width: 991px) {
  .contentTwothird {
    width: 100%;
    max-width: 606px;
    float: left;
    padding-right: 2rem;
  }
  .contentOnethird {
    width: 100%;
    max-width: 303px;
    float: left;
  } 
}
