.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  border-block: 5px solid navajowhite;  
  border-radius: .1rem;
}

.carousel-container ::-webkit-scrollbar { display: none; }

.carousel-container .carousel-wrapper {
  display: flex;
  gap: 5px;
  overflow: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel-container button {
  position: absolute;
  width: fit-content;
  background: #49494954;
  color: aliceblue;
  border: 2px solid #dcdcdc57;
  outline: 2px solid #16161625;
  font-size: 1.8rem;
  padding: 0 .6rem;
}
.carousel-container button:is(:hover, :focus, :focus-visible) { 
  background: grey;
  border-color: #ddecdd;
  outline-color: gainsboro; 
}
.carousel-container:hover button { opacity: 1; }

.carousel-container button:first-child {
  left: -1rem;
  border-radius: 50% .3rem .3rem 50%;
}
.carousel-container button:last-child {
  right: -1rem;
  border-radius: .3rem 50% 50% .3rem;
}
