.carousel-container::-webkit-scrollbar {
  scrollbar-width: normal;
  scrollbar-color: hsl(0 0% 50%);
  display: none;
}

.carousel-container {
  position: relative;
  border-block: 3px solid navajowhite;  
  width: 100%;
  display: flex;
  align-items: center;
  gap: .5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.carousel-container button {
  position: absolute;
  width: fit-content;
  opacity: 0;
  background: #4949491e;
  color: aliceblue;
  border: 2px solid #dcdcdc57;
  outline: 2px solid #dcdcdc25;
  font-size: 1.4rem;
  padding: 0 .4rem;
  bottom: 1rem;
}
.carousel-container button:is(:hover, :focus, :focus-visible) { 
  background: grey;
  border-color: #ddecdd;
  outline-color: gainsboro; 
}
.carousel-container:hover button { opacity: 1; }

.carousel-container button:first-child {
  left: 1rem;
  border-radius: 50% .3rem .3rem 50%;
}
.carousel-container button:last-child {
  right: 1rem;
  border-radius: .3rem 50% 50% .3rem;
}
