.carousel-card {
  padding-block: 5px;
  scroll-snap-align: start;
}

.carousel-card button {
  all: unset;
  border: 0;
  cursor: pointer;
}

.carousel-card button img {
  height: 240px;
  width: 170px;
  object-fit: fill;
}