.carousel-card {
  padding: .3rem;
  border: 1px solid navajowhite;
  width: fit-content;
  height: 240px;
  min-height: 240px;
  max-height: 240px;
  scroll-snap-type: mandatory mandatory;
  scroll-behavior: smooth;
  scroll-snap-align: center;
}
.carousel-card img {
  height: 100%;
}
.carousel-card p {
  display: none;
}