footer.footer {
  padding: 2rem;
  background: #eee;
}

/* footer grid */
footer.footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* copyright */
footer.footer .copyright {
  text-align: center;
  margin-block: 2rem 0;
}
footer.footer span:first-child{
  font-size: .85rem;
  font-weight: 600;
}
footer.footer span:last-child{
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: silver;
  text-decoration-thickness: 4px;
}
footer.footer span:last-child a { cursor: pointer; }
