.skeleton {
  display: block;
  width: 100%;
  background: var(--pri-100);
  outline: 1px solid #e9e9e9;
  border-radius: .15rem;
  animation: pulse 1s infinite;
}

.mw-50 { max-width: 50%; }
.mw-100 { max-width: 100%; }
.skeleton.center { margin-inline: auto; display: block; }
.h-1 { height: 1rem; }
.h-2 { height: 2rem; }

/* title */
.skeleton-title { height: 1.5rem; max-width: 20rem; }

/* subtitle */
.skeleton-subtitle { height: 1.2rem; max-width: 14rem; }

/* header */
.skeleton-header { height: 1.2rem; max-width: 8rem; }

/* text */
.skeleton-text { height: 1rem; max-width: 16rem; }

/* line */
.skeleton-line { height: 1rem; max-width: 100%; }

/* paragraph */
.skeleton-p-line {
  height: .9rem;
  width: 100%;
  margin-bottom: .45rem;
}
.skeleton-p-line:last-child { width: calc(90%); margin-bottom: 0; }
.hasTitle > .skeleton-p-line:first-child { height: 1.5rem; width: 8rem; } 
.hasIndent > .skeleton-p-line:first-child { 
  width: calc(100% - 1.5rem); 
  margin-left: 1.5rem; 
} 

/* profile */
.skeleton-photo { height: 10rem; width: 10rem; }
.skeleton-photo.circle { border-radius: 50%; }
.skeleton-photo.sm { height: 5rem; width: 5rem; }

/* card */
.skeleton-card { height: 10rem; width: 100%; margin-bottom: 1rem; }


@keyframes pulse {
  10% { opacity: .9; }
  50% { opacity: .5; }
  80% { opacity: .9; }
  100% { opacity: 1; }
}
