.landing-page :is(a, a:hover, a:visited) { color: initial; }

.carousel-section-header {
  position: relative;
  font-family: Lucida !important;
  width: 340px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  line-height: 1.2;
}
.carousel-section-header * { font-family: Lucida; }
.carousel-section-header::before {
  position: absolute;
  content: "";
  height: 2rem;
  width: .2rem;
  background: var(--pri-blue-200);
  margin-left: -0.75rem;
}
.carousel-section-header svg {
  height: 1rem;
  width: 1rem;
  color: var(--pri-blue-200);
  transition: color .15s ease 0s;
}
.carousel-section-header:hover svg { color: var(--pri-blue-600); }

.carousel-section .books-carousel { margin-bottom: 2rem; }
