/* todo: make the header sticky */
.header { 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: .5rem;
  border-bottom: 3px solid var(--sec-green-200);
  background: var(--wheat-light);
}


/* panel toggler */

.panel-toggler {
  background: var(--light-bluish);
  color: saddlebrown;
  padding: .2rem;
  border: 4px double var(--pri-blue-200);
  border-radius: .3rem;
  line-height: 0;
  transition: all .3s ease;
  cursor: pointer;
}
.panel-toggler:hover { background: var(--pri-blue-100); }
.panel-toggler.active { 
  border: 4px solid var(--pri-blue-200); 
  background: var(--pri-blue-100);
}


/* logo wrapper */

.header .logo-wrapper {
  background: var(--wheat-200); 
  border-radius: 2rem;
  padding: .25rem;
  box-shadow: 0 0 1px 2px rgba(68, 68, 68, 0.5);
}
.header .logo-wrapper:hover { 
  box-shadow: 0 0 3px 3px rgba(68, 68, 68, 0.5);
}
.header img.logo { height: 2rem; }


/* search container */

.header .search-container {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 360px;
}

.header input[type="search"]::-webkit-search-cancel-button { display: none; }
.header input[type="search"] {
  color: var(--pri-blue-400);
  background: transparent;
  padding: .4rem 2rem .4rem .75rem;
  border: 2px solid var(--crimson-light-1);
  outline: none;
  font-size: .95rem;
  box-shadow: 0 0 1px 2px var(--crimson-light-1);
}
.header input:is(:focus) { background: var(--crimson-light-1); }
.header .search-icon {
  position: absolute;
  right: .6rem;
}
.header .search-icon svg {
  fill: var(--pri-blue-400);
  display: block;
}


/* media queries */

@media (min-width: 767px) {
  .header { 
    padding: .5rem 1rem ; 
    gap: 2rem;
  }

  .header .panel-toggler { display: none; }

  .header .search-container { max-width: 500px; }  
}
