.header { 
  position: fixed;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: auto;
  gap: 1rem;
  padding: .6rem;
  border-bottom: 3px solid var(--pri-blue-200);
  background: var(--wheat-light);
  z-index: 10;
}


/* panel toggler */

.panel-toggler {
  background: var(--light-bluish);
  color: saddlebrown;
  padding: .2rem;
  border: 4px double var(--pri-blue-200);
  border-radius: .3rem;
  line-height: 0;
  transition: all .3s ease;
  cursor: pointer;
}
.panel-toggler:hover { background: var(--pri-blue-100); }
.panel-toggler.active { 
  border: 4px solid var(--pri-blue-200); 
  background: var(--pri-blue-100);
}


/* logo wrapper */

.header .logo-wrapper {
  background: var(--wheat-200); 
  padding: .3rem;
  border-radius: 2rem;
  box-shadow: 0 0 1px 2px rgba(68, 68, 68, 0.5);
}
.header .logo-wrapper:hover { 
  box-shadow: 0 0 3px 3px rgba(68, 68, 68, 0.5);
}
.header img.logo { height: 2rem; }


/* search container */

.header .search-container {
  position: relative;
  display: flex;
  min-width: 14rem;
  max-width: 20rem;
  flex: 1;
  align-items: center;
}

.header input[type="search"]::-webkit-search-cancel-button { display: none; }
.header input[type="search"] {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: transparent;
  color: var(--pri-blue-400);
  font-size: 1rem;
  padding: .4rem 2rem .4rem .75rem;
  border: 2px solid var(--crimson-light-1);
  outline: none;
  box-shadow: 0 0 1px 2px var(--crimson-light-1);
}
.header input:is(:focus) { background: var(--crimson-light-1); }
.header .search-icon {
  position: absolute;
  right: .6rem;
}
.header .search-icon svg {
  fill: var(--pri-blue-400);
  display: block;
}

.search-results {
  position: absolute;
  display: none;
  width: 100%;
  top: 100%;
  background: var(--light-1);
  z-index: 20;
}
.search-container.active .search-results { display: block; }

.search-results li {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--light-3);
  padding: .5rem;
}

.search-results div:nth-child(2) { overflow: hidden; }
/* .search-results .thumbnail {  } */
.search-results img { height: 3.8rem; width: 3.8rem; }
.search-results li .h5 {
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
.search-results li span {
  font-size: .8rem;
  text-decoration: underline;
  color: var(--wheat-600);
}


/* media queries */

@media (min-width: 767px) {
  .header { 
    padding: .6rem 1rem ; 
    gap: 2rem;
  }

  .header .panel-toggler { display: none; }

  .header .search-container { max-width: 500px; }  
}
