.nav {
  position: relative;
  gap: .8rem;
  padding: .4rem .6rem;
  background: var(--light-3);
  box-shadow: 0 0 2px 1px var(--wheat-400);
  border-radius: 1rem;
}


/* browse mega menu */

.display { position: relative; }

.overlay {
  position: absolute;
  display: none;
  /* background: var(--crimson-light-2); */
  top: -1000px;
  left: -1000px;
  width: 0;
  width: 0;
  pointer-events: stroke;
  z-index: -10;
}
.display .overlay { 
  display: block;
  height: 2000px;
  width: 2000px;
}

:is(.dropdown-wrapper, .sub-dropdown-wrapper) { position: relative; }

.nav .browse button { 
  color: rgb(var(--purple));
  border: none;
  border-radius: 1rem;
}
.nav .browse:hover button { background: var(--light-1); }
.nav .browse.display button {
  background: var(--purple-200);
  color: var(--pri-light-1);
  border-radius: .2rem .2rem 0 0; 
}

:is(.dropdown-ul, .sub-dropdown-ul) {
  position: absolute;
  visibility: hidden;
  top: 100%;
  height: 0;
  background: var(--pri-light-1);
  padding: 0 .4rem;
  border: 1px solid var(--wheat-400) !important;
  z-index: 10;
}
.dropdown-ul { left: 0; }
.sub-dropdown-ul { 
  left: 50%; 
  overflow-y: auto; 
  transition-delay: .2s; 
  transition: visibility 0s 0s, height cubic-bezier(0.46, 0.03, 0.52, 0.96) .3s;
}
.dropdown-wrapper.display 
  :where(.dropdown-ul, .sub-dropdown-wrapper:hover > .sub-dropdown-ul) { 
  height: 240px;
  visibility: visible;
  padding: .4rem;
  transition-delay: 0s;
  z-index: 20;
}
.dropdown-wrapper.display > .dropdown-ul { height: fit-content; }


.nav .browse-ul > li { margin-block: .25rem; }
.nav .browse-ul > li { position: relative; padding-inline: .5rem; }
.nav .sub-dropdown-ul > li:not(:last-child) { border-bottom: 1px solid snow; }

.nav .sub-dropdown-wrapper svg {
  position: absolute;
  top: 50%;
  right: .5rem;
  height: .65rem;
  width: .65rem;
  fill: var(--wheat-400);
  transform: translateY(-50%);
  transition: transform .1s;
}
.nav .sub-dropdown-wrapper:hover > svg { 
  transition-duration: .2s;
  transform: translateY(-50%) rotateZ(90deg); 
}


/* nav links */

.nav .nav-links ul {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.nav-links li, .dropdown-wrapper button{
  background: #eee;
  border-radius: .2rem;
  transition: .05s ease-in;
}
.nav :is(.nav-links, .dropdown-wrapper) li:is(:hover, :has(> a.active)) {
  background: #96bac99c;
  color: #fff;
  cursor: pointer;
}

.nav ul li a {
  text-wrap: nowrap;
  padding: .2rem;
  font-size: .9rem;
  text-decoration: none !important;
}
.nav ul :is(li:hover > a, li a.active) {
  color: var(--wheat-800);
  text-decoration: underline;
}


/* mode toggler */

.nav .mode-toggler {
  position: relative;
  height: 2rem;
  width: 2rem;
  padding: .1rem;
  border-radius: 50%;
}
.nav .mode-toggler > input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.nav .mode-toggler > svg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: min-content;
  border-radius: 50%;
}
.nav .mode-toggler svg.sun { 
  background: linear-gradient(180deg,#ffcc89,#d8860b); 
  border: 2px solid #e7cd9a;
}
.nav .mode-toggler svg.moon { 
  background: #ccc;
  padding: .2rem;
  border: 2px solid #888;
}


/* media queries */
@media (max-width: 300px) {}

@media (max-width: 767px) {
  .nav { 
    position: absolute;
    top: 100%;
    height: 0;
    width: 100%;
    display: flex;
    /* gap: 2rem; */
    background: var(--light-3);
    padding: 0px;
    border-radius: 0;
    overflow: hidden;
    z-index: 10;
    border: none;
    box-shadow: none;
    transition: .3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    transition-property: height;
  }
  .nav.open { height: 4.4rem; }
  .nav.open:hover { overflow: visible; }
}