.search-bar {
  position: relative;
  display: block;
  background: var(--light-bluish);
  padding-inline: .5rem;
  border-block: 1px solid silver;
}


/* search container */

.search-bar .search-container {
  position: relative;
  display: flex;
  align-items: center;
  padding-block: .5rem;
}

.search-bar input[type="search"]::-webkit-search-cancel-button { display: none; }
.search-bar input[type="search"] {
  width: 100%;
  background: transparent;
  color: var(--pri-blue-400);
  padding-inline: 1rem;
  border-radius: 2rem;
  border: 2px solid var(--wheat-400);
  outline: none;
}
.search-bar input:is(:hover, :focus-visible) {
  background: snow;
  border-color: var(--wheat-600);
  text-decoration: underline solid #bbb 1px;
}

.search-bar span.search-icon {
  position: absolute;
  right: .7rem;
}
.search-bar span.search-icon svg {
  display: block;
  fill: var(--pri-blue-400);
}


/* header buttons */

.search-bar .header-buttons {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100%;
  height: 100%;
  gap: 1rem;
}

.search-bar .header-buttons button {
  padding: .25rem;
  background: transparent;
  border: none;
}
.search-bar .header-buttons button:hover,
.search-bar .browse-wrapper:hover button {
  background: var(--wheat-800);
  color: var(--light-bluish);
}


/* browse ul */

.search-bar ul.browse-ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: fit-content;
  background: var(--wheat-light);
  color: var(--add-red-danger);
  opacity: 0;
  border: 1px solid var(--wheat-400);
  padding: 1rem;
  transition: opacity .8s ease-in-out;
  z-index: 10;
}
.search-bar .header-buttons .browse-wrapper:hover ul.browse-ul {
  display: block;
  opacity: 1;
}

.search-bar ul.browse-ul li { border-bottom: 1px solid var(--light-bluish); } 


/* media queries */

@media (max-width: 575px) {
  .search-bar .search-container {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
  }
}

@media (min-width: 576px) {
  .search-bar { 
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-around; 
  }

  .search-bar .search-container { 
    min-width: 50%;
    max-width: 600px; 
    margin-right: .5rem;
  }
  
  .search-bar .header-buttons button { margin-block: -.25rem; }
}
